
                      <div class="product-card">
                          <!-- Header -->
                          <div class="card-header">
                            <div class="product-dates">
                                  <p class="product-name">{{ product.nameProduct }}</p>
                                  <p class="product-number">#{{ product.numberProduct }}</p>
                            </div>

                            <div class="custom-check"></div>
                          </div>

                          <hr />

                          <!-- Balance -->
                          <div class="balance">
                            <p class="balance-title">Ya cuentas con:</p>
                            <p class="amount">${{product.balanceProduct}}</p>
                          </div>

                          <!-- Footer -->
                          <div class="card-footer">
                            <img src="Happy.svg" class="footer-icon" />

                            <div class="footer-description-container">

                              <p class = "footer-description">
                                ¡Cuentas con <span class="highlight">${{product.balanceProduct}}</span>!<br/>
                                <small class="desciption-bottom">{{ product.detaildProduct }}</small>                              
                              </p>
                            </div> 
                          </div>

                           <div class="to-floor"></div>
                      </div>