<div class="objective-card-container">
    <div class="objective-card-container-section1">
        <div class="objective-card-container-section1-left">            
            <p class="text-1">Conocer mi sobrino</p>
            <p class="text-2">Categoría: Bienestar</p>
        </div>
        <div class="objective-card-container-section1-right">            
            <p class="text-1">Revisar objetivo</p>           
        </div>
    </div>
    <div class="objective-card-container-section2">
        <div class="objective-card-container-section2-segmento">        
            <p class="title">En esta fecha:</p>
            <div class="valor valor-uno">Diciembre/2022</div>        
        </div>
        <div class="objective-card-container-section2-segmento">        
            <p class="title">Lograrás:</p>
            <div class="valor valor-dos">$6.000.000.000</div>        
        </div>
        <div class="objective-card-container-section2-segmento"> 
            <div class="right-content">
                <img src="Icon awesome-star.svg" class=""/>        
                <p class="title">Ya cuentas con:</p>
            </div>
           
            <div class="valor valor-tres">$0</div>        
        </div>

    </div>
    <div class="objective-card-container-section3">
         <div class="objective-card-container-section3-left">
            <img src="Icon awesome-check-circle.svg" class="check-icon"/> 
            <p class="section3-text">¡Asocia productos para monitorear su progreso!</p>
         </div> 
         <div class="objective-card-container-section3-right">
            <img src="Mask Group 19.png" class="mountain-logo"/>
         </div>     
    </div>
</div>
