<header class="header-container">

 <div class="header-menu" (click)="onMenuClick()">
    <button>☰</button> 
  </div>

  <div class="header-left">    
    <img src="Group 123.svg" class="header-left-logo" />
    <span class ="vertical-line">|</span>
    <p class="header-left-title">Plan Financiero Digital - FPX</p>
  </div>

<div class="header-right">
  <img src="Happy-1.svg" class="header-right-logo-happy"/>
  <p class="header-right-title">Tu Financial Planner</p>

  <img src="hand3.svg" alt="Aportes"  class="header-right-logo-hand"/>
  <p class="header-right-title">Aportes</p>

  <img src="comp%20faq.svg" class="header-right-logo-compaq"/>
</div>

</header>
