<!-- Header principal -->
<header class="header-container">

  <!-- Menú hamburguesa -->
  <div class="header-menu" (click)="onMenuClick()">
    <button>☰</button> 
  </div>

  <!-- Sección izquierda: logo y título -->
  <div class="header-left">    
    <img src="Group 123.svg" class="header-left-logo" alt="Logo FPX" />
    <span class="vertical-line">|</span>
    <p class="header-left-title">Plan Financiero Digital - FPX</p>
  </div>

  <!-- Sección derecha: información y logos secundarios -->
  <div class="header-right">
    <img src="Happy-1.svg" class="header-right-logo-happy" alt="Estado feliz"/>
    <p class="header-right-title">Tu Financial Planner</p>

    <img src="hand3.svg" class="header-right-logo-hand" alt="Aportes"/>
    <p class="header-right-title">Aportes</p>

    <img src="comp faq.svg" class="header-right-logo-compaq" alt="Compañía / FAQ"/>
  </div>

</header>
