.home-container {
  width: 100%;   
  height: 100vh; 
  background: #FFFFFF 0% 0% no-repeat padding-box;
}
.header-container{
     width: 100%; 
     height: 80px;    
}

.mainsection-container{
    width: 100%;
    height: 850px;  
}