.carousel-container{  
    width: 100%;
    height: 100%;
    display: flex;
}
.carousel-button{
    border: 1px solid black;
    flex: 0 0 3%;
     display: flex;
    align-items: center;
}
.carousel-cards {
  border: 1px solid black;
  flex: 1; 
  /* display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;  */
}
.splide{
    background-color: red;
    width: 100%;
    height: 100%;
}
.splide__track{
    width: 100%;
    height: 100%;    
}
.splide__list{
    /* background-color: black;  */
    gap: 10px;       
}
li div{   
    background-color: greenyellow;  
    height: 100%;
} 


.flip-horizontal{
    transform: scaleX(-1);    
}
.button-icon {
  cursor: pointer;  
}

.button-icon:hover {
  fill: orange;   /* color que quieras */
}
.carousel-button-right {
   justify-content:flex-end;
}