/* =======================
   Contenedor del carrusel
   ======================= */
.carousel-wrapper {
  position: relative; 
  width: 100%;
  height: 100%;
}

.carousel {
  width: 100%;
  height: 100%;
}

.splide {
  width: 100%;
  height: 100%;
}

.splide__track {
  width: 100%;
  height: 100%;
  padding: 10px 0;
}

li {
  height: 100%;
  padding: 0 10px;
}

/* =======================
   Estilos de los botones
   ======================= */
.button-icon {
  cursor: pointer;
  width: 40px;   
  height: 40px;
}

.flip-horizontal {
  transform: scaleX(-1);
}

/* Botones fuera del carrusel */
.carousel-button {
  position: absolute;
  top: 50%;                
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-button-left {
  left: -50px; 
}

.carousel-button-right {
  right: -50px;
}
