<div class="footer-wrapper">
    <div class="footer-top">
        <div class="skandia-info">
            <img class="skandia-logo" src="Group 123.svg" alt="">
            <p class="footer-text company-name">2019 Skandia</p>
            <p class="footer-text footer-space">PBX: <span class="phone-highlight">658 4000</span> / <span class="phone-highlight">484 1300</span></p>
            <p class="footer-text footer-space">Línea nacional <span class="phone-highlight">01 8000 517 526</span></p>
            <p class="footer-text footer-space">Línea Corporativa 658 4123</p>
            <p class="footer-text footer-space">Av. 19 # 109A 30</p>
            <p class="footer-text footer-space">Bogotá D.C., Colombia</p>
            <p class="footer-text footer-text-bold footer-space">Oficinas a nivel nacional</p>
        </div>

        <div class="legal-info">
            <p class="legal-text">Términos y Condiciones</p>
            <p class="legal-text">Canales de Servicio</p>
            <p class="legal-text">Defensoría del Consumidor Financiero</p>
            <p class="legal-text">Protección de Datos</p>
            <p class="legal-text">Definiciones Generales - Auto declaración FATCA y CRS</p>
            <p class="legal-text">Recomendaciones de Seguridad</p>
        </div>

        <div class="social-media">  x          
        </div>
    </div>



    <div class="footer-bottom"></div>
</div>
