/* Aplica estas reglas a TODOS los elementos de la página */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* src/styles.css */
:root{
  --scroll-track: #E2E2E2;
  --scroll-thumb: #00C83C;}


* {
  scrollbar-width: thin;                    /* auto | thin | none */
  scrollbar-color: var(--scroll-thumb) var(--scroll-track); /* thumb track */
}
