/* ===============================
   Contenedor principal de la sección
   =============================== */
.mainsection-container {
  display: flex;
  flex-direction: column; 
  width: 100%;     
}

/* ===============================
   Secciones principales
   =============================== */
.section1, .section2 {
  display: flex;   
}

/* -------------------------------
   Section1
   ------------------------------- */
.section1 {
  position: relative;
}

/* Contenido de section1 */
.section1-content {
  height: 100%;  
  transition: width 0.3s ease;  
  width: 100%;   
}

/* Sidebar */
.sidebar {
  position: absolute;   
  top: 0;
  left: 0;
  height: 805px; 
  background-color: #E2E2E2;
  transition: transform 0.3s ease, opacity 0.3s ease;
  z-index: 10;          
  width: 2.5%;         
  min-width: 30px;      
}

.sidebar-icon-container {
  width: 100%;
  aspect-ratio: 1 / 1; 
  background-color: #00C83C;   
  display: flex;
  justify-content: center;
  align-items: center; 
  cursor: pointer;
}

/* Tarjeta de notificación */
.notificacion-card-container {
  position: absolute;  
  top: 38%;
  left: 50%;
  width: 530px;
  height: 280px;
  background-color: white;
  transform: translate(-50%, -50%); 
  border-radius: 7px;  
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.2);
  padding-top: 1%;
}

/* Section1: Contenido top */
.section1-content-top {
  height: 285px;
  background-color: #34798a;
  padding: 0 200px; 
}

/* Inicio */
.inicio {  
  display: flex;
  gap: 8px;
  padding-top: 30px;
  cursor: pointer;
}

.inicio-texto {
  text-decoration: underline;  
  font-weight: bold;  
  font-family: Verdana, Geneva, Tahoma, sans-serif;     
  font-size: 12px;        
}

/* Notificación */
.notificacion { 
   height: 100%;
   display: flex;
   flex-direction: column; 
   align-items: center;  
   padding-top: 30px;
}

.notificacion-texto1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  font-weight: bold;  
}

.notificacion-texto2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;  
}

.color-blanco {
  color: white;    
}

/* Section1: Contenido bottom */
.section1-content-bottom {
  height: 520px;   
  background-image: url('../../../../../public/Group\ 3329.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; 
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;    
}

.section1-goal-text {
  color: #3F3F3F; 
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 25px;    
  padding-bottom: 13px;
}

.highlight-orange {
  color: #FE9200;
}

.section1-subgoal-text {
  font-family: Verdana, Geneva, Tahoma, sans-serif;     
  font-size: 16px;  
  color: #3F3F3F;
  padding-bottom: 7px;
}

.section1-action-container {
  display: flex;
  gap: 10px;
}

.section1-action-text {
  font-family: Verdana, Geneva, Tahoma, sans-serif;   
  font-weight: bold;  
  font-size: 16px;  
  color: #3F3F3F;    
}

/* -------------------------------
   Section2
   ------------------------------- */
.section2 {   
   height: 390px;   
   display: flex;
   justify-content: center;
   position: relative;   
}

.card-container {
  width: 65%;
  height: 399px;
  position: absolute;
  bottom: 43%;  
}

.associate-button-container {
  position: relative;
  top: 70%;
  width: 260px;
  height: 50px;  
}

.associate-button {
  width: 100%;
  height: 100%;
  border-radius: 25px;
  border: none;
  color: #3F3F3F; 
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 16px;  
  cursor: pointer;
}

/* ===============================
   Responsive
   =============================== */

/* Pantallas medianas */
@media (max-width: 1240px) {
  .section1-content-top {
    padding: 0 50px; 
  }
}

@media (max-width: 960px) {
  .section1-content-top {
    padding: 0 30px; 
  }
  .card-container {  
    height: 90%;
  }
}

@media (max-width: 670px) {
  .section1-goal-text {
    font-size: 20px;    
    padding-bottom: 9px;
  }
  .section1-subgoal-text {       
    font-size: 13px;    
    padding-bottom: 5px;
  }
  .section1-action-text {
    font-size: 13px;     
  }
  .section1-action-icon {
    width: 6%;
  }
  .card-container {  
    height: 80%;
  }
}

@media (max-width: 600px) {
  .inicio-texto {  
    font-size: 11px;        
  }
  .notificacion-texto1 {
    font-size: 24px;    
  }
  .notificacion-texto2 { 
    font-size: 15px;  
  }
  .notificacion-card-container {   
    top: 34%; 
    width: 400px;
    height: 200px;   
    padding-top: 1%;
  }
}

@media (max-width: 572px) {
  .notificacion-texto1 {
    font-size: 20px;    
  }
  .notificacion-texto2 { 
    font-size: 14px;  
  }
  .section1-goal-text {
    font-size: 18px;    
    padding-bottom: 9px;
  }
  .section1-subgoal-text {       
    font-size: 13px;    
    padding-bottom: 5px;
  }
  .section1-action-text {
    font-size: 13px;     
  }
}

@media (max-width: 487px) {
  .inicio-texto {  
    font-size: 10px;        
  }
  .notificacion-texto1 {
    font-size: 15px;    
  }
  .notificacion-texto2 { 
    font-size: 13px;  
  }
  .notificacion-card-container {    
    left: 50%;
    width: 330px;   
  }
  .section1-goal-text {
    font-size: 13px;    
    padding-bottom: 3px;        
  }
  .section1-subgoal-text {       
    font-size: 11px;    
    display: flex;  
    text-align: center;   
  }
  .section1-action-text {
    font-size: 12px;     
  }
}

@media (max-width: 385px) {
  .notificacion-texto1 {
    font-size: 13px;    
  }
  .notificacion-texto2 { 
    font-size: 11px;  
  }
}
