<div class="mainsection-container">  

  <section class="section1">
     <aside class="sidebar" [ngStyle]="{'width': collapsed ? '0%' : '3%'}"></aside>  
      <div class="notificacion-card-container"> 
         <app-objective-card></app-objective-card>           
      </div>
     <div class="section1-content">

        <div class="section1-content-top">
           <div class="inicio">
             <img src="home.svg" class="inicio-logo" />
             <p class="inicio-texto color-blanco" >Ir al inicio</p>            
           </div>
           <div class="notificacion" >
            <p class="notificacion-texto1 color-blanco">¡Tu objetivo ha sido agregado exitosamente!</p>
            <p class="notificacion-texto2 color-blanco">¡Te hemos enviado un correo con la notificación!</p>
           </div>
        </div>
        <div class="section1-content-bottom">
          <p class="section1-goal-text">
            ¡Vamos por esos 
            <span class="highlight-orange">$6.000.000</span> 
            para 
            <span class="highlight-orange">Conocer mi sobrino</span>!
          </p>
          <p class="section1-subgoal-text">iA través de tus productos y nuestros rendimientos podremos lograrlo!</p>
          <div class="section1-action-container">
              <p class="section1-action-text">Asocia tus productos o adquiere uno nuevo.</p>
              <img src="Group 12953.svg" class="section1-action-icon" />
          </div>
        </div>
     </div>
  </section>   

  <section class="section2"></section>  

</div>